<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 d-flex">
        <a href="javascript:void(0)" class="footer-logo"><img src="assets/images/isg-logo-i.png"/></a>
        <address>
          <h4 class="text-uppercase">Corporate Headquarters</h4>
          <p>2187 Atlantic Street
            <br/>Stamford, CT 06902<br/>
            T: +1 203 517 3100
          </p>
          <a target="_blank" class="location" href="https://www.isg-one.com/who-we-are">See locations </a>
        </address>
      </div>
      <div class="col-sm-9">
    
        <div class="row justify-content-end">

            <div class="col-sm-12" style="text-align: center; margin-top: 2rem !important;">
          <!-- social-icons  -->
          <div class="social-icons d-inline-flex">
            <ul>
              <!-- <li>
                <a target="_blank" href="https://plus.google.com/+Isg-one#+Isg-one/posts" class="icoGoogle" title="Add us on Google+"><i class="fa fa-google-plus social-icon-clr gplus"></i></a>
              </li> -->
              <li>
                <a target="_blank" href="https://www.facebook.com/InformationServicesGroup" class="icoFacebook" title="Like us on Facebook"><i class="fa fa-facebook social-icon-clr facebook"></i></a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/ISG_News" class="icoTwitter" title="Follow us on Twitter"><i class="fa fa-twitter social-icon-clr twitter"></i></a>
              </li>
              <li>
                <a target="_blank" href="http://www.linkedin.com/company/information-services-group" class="icoLinkedin" title="Follow us on LinkedIn"><i class="fa fa-linkedin social-icon-clr linkedin"></i></a>
              </li>
              <li>
                <a target="_blank" href="https://www.youtube.com/user/ISGknowledge" class="icoRss" title="Subscribe on YouTube"><i class="fa fa-youtube-play social-icon-clr youtube"></i></a>
              </li>
              <li>
                <a target="_blank" href="http://blog.isg-one.com/" class="icoRss" title="Read more ISG insights on our blog, Consider the Source"><i class="fa fa-rss social-icon-clr rss"></i></a>
              </li>
            </ul>

          </div>
        </div>
        <div class="col-sm-12" style="text-align: center; margin-top: 1rem !important;">

        
          <div class="d-inline-flex">
            <ul class="nav float-right">
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.isg-one.com/terms-of-use">Terms of use </a>
              </li>
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.isg-one.com/privacy-policy">Privacy policy</a>
              </li>
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.isg-one.com/cookie-policy">Cookie Policy</a>
              </li>
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.isg-one.com/other-policies">Other policies</a>
              </li>
              <!-- <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.isg-one.com/EmailPreferences.html">Unsubscribe</a>
              </li> -->
            </ul>
          </div>
        </div>
        </div>
        <div class="text-copyright mt-4"  style="text-align: center;  margin-top: 0rem !important;">&copy;{{currentYear}} ISG - All Rights Reserved</div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</footer>