<div class="w-100">
    <section class="main-content">
        <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3 my-4 ">
            <div class="card custom-card">
              <div class="card-body pb-3">
             <!-- User privileges form controls starts -->   
                <div class="row m-0 mt-4">
                  <div class="col">
                    <form>
                            <div class="form-row">
                                <div class="mx-auto">
                                    <div class="d-inline-flex scenarion-list">
                                        <label class="container-checkbox font-size-group2 mr-4">
                                            <div>Admin Panel</div>
                                            <input  type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container-checkbox font-size-group2 mr-4">
                                            <div>External URLs</div>
                                            <input  type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container-checkbox font-size-group2">
                                            <div>Glossary PDF</div>
                                            <input  type="checkbox" checked >
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-4">
                                        <p class="mb-1">Created By: 10652318</p>
                                        <p>Created Date: 10/4/2018</p>
                                    </div>
                                    <div class="col-12 col-md-4 offset-md-4">
                                        <p class="mb-1">Updated By: 10652318</p>
                                        <p>Updated Date: 10/4/2018</p>
                                    </div>
                                </div>
                                    <hr>
                                    <div class="form-row">
                                    <div class="form-group col-9 col-md-5 col-lg-4 col-xl-5 mx-auto px-0">
                                        <button class="btn btn-primary btn-add mx-2">Save</button>
                                        <button class="btn btn-primary btn-add mx-2">Update</button>
                                        <button class="btn btn-primary btn-delete">Delete</button>
                                    </div>
                            </div>    
                </form>
                </div>
              </div>
          <!-- User privileges form controls ends -->  

            </div>

        </div>

      </div>
    </section>
</div>
