<!-- <div class="container">
  <div class="row col-lg-12 padding0">
    <div class="col-lg-6 text-left">
      &copy; 2018 ISG - All Rights Reserved
    </div>
    <div class="col-lg-6 text-right">
      &copy; 2018 ISG - All Rights Reserved
    </div>
  </div>
</div> -->

<!-- <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    &copy; 2018 ISG - All Rights Reserved
  </div>
</nav> -->

<footer class="footer">    
  <div class="row col-lg-12 col-xs-12">
    
    <div class="col-lg-12 col-xs-12 bottom-panel"> 
      <div class="col-lg-12 col-xs-12 actions-block">
        <div class="col-lg-12 col-xs-12 additional-panel">          
          <div class="row col-lg-3 col-xs-12">
            
            <div class="col-lg-2 col-xs-12 footer-logo-border">
              <strong class="logo"> 
                <a href="javascript:void(0)"> 
                  <img src="https://intellisource.isg-one.com/Mvc/Content/Images/isg-logo-i.png" height="66" width="18" alt="ISG"> 
                </a> 
              </strong>
            </div>
            
            <div class="col-lg-9 col-xs-12 location-block">
              <h3>Corporate Headquarters</h3> 
              <address> 
                <span>Two Stamford Plaza,</span> 
                <span>281 Tresser Boulevard</span> 
                <span>Stamford, CT - 06901</span> 
                <span>T: +1 203 517 3100</span>
              </address> 
              <a href="javascript:void(0)" class="link-location">see locations <i class="angle-right fa fa-angle-right" ></i></a>
            </div>
          </div>
          
          <div class="row col-lg-5 col-xs-12">
            <ul class="social-network social-circle">
              <li><a target="_blank" href="https://plus.google.com/+Isg-one#+Isg-one/posts" class="icoGoogle" title="Add us on Google+"><i class="fa fa-google-plus"></i></a></li>  
              <li><a target="_blank" href="https://www.facebook.com/InformationServicesGroup" class="icoFacebook" title="Like us on Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/ISG_New" class="icoTwitter" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" href="http://www.linkedin.com/company/information-services-group" class="icoLinkedin" title="Follow us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/user/ISGknowledge" class="icoRss" title="Subscribe on YouTube"><i class="fa fa-youtube-play"></i></a></li>
              <li><a target="_blank" href="http://blog.isg-one.com/" class="icoRss" title="Read more ISG insights on our blog, Consider the Source"><i class="fa fa-rss"></i></a></li>
            </ul> 
          </div>
          
          <div class="row col-lg-4 col-xs-12"> 
            
            <div class="row col-lg-12 padding0 text-center">
              <div class="col-lg-4 padding0">
                <a class="" href="https://www.isg-one.com/terms-of-use" target="_blank">Terms of Use</a>
              </div> 
              <div class="col-lg-4 padding0">
                <a class="" href="https://www.isg-one.com/privacy-policy" target="_blank">Privacy Policy</a>
              </div>
              <div class="col-lg-4 padding0">
                <a class="" href="https://www.isg-one.com/other-policies" target="_blank">Other Policies</a>
              </div>
            </div>
            <div class="col-lg-12"> 
              <span class="copyrights">&copy; 2018 ISG - All Rights Reserved</span> 
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</footer>
