
<div class="modal-header" style="background: #29497b;color:#fff;">
  <div class="heading_align">Support </div>
  <button type="button" style="color:#fff;" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
  <div class="container">
      <div class="row">
          <div  class="mb-sm-1 col-md-12 col-lg-12 ">
              <div class="mail_div_align">
                <span class="info_align">Please enter your query here,& give us chance to help you</span><br>
                 <span class="mail_align"> Email:</span> <span class="mail_id_div">ISGInformX@isg-one.com</span><br>
              </div>
          </div>

          <div  class="mb-sm-1 col-md-12 col-lg-12 ">
              <div style="display: block;">
                  Subject: <textarea class="form-control note-textarea" rows="5" style="height: 30px;"></textarea>
              </div>
          </div>
          
          <div class="mb-sm-1 col-md-12 col-lg-12 ">
              <div class=" col-md-2 col-lg-2"></div>
              <div>Message:</div>
              <div>
                  <textarea class="form-control note-textarea" rows="5"></textarea>
              </div>
          </div>
      </div>

  </div>
</div>

<div>
  <hr>
  <div class="btn-row button_card">
      <button data-backdrop="static" data-keyboard="false" data-dismiss="modal" class="btn btn-primary btn-positive-isg" (click)="sendMail()">Send</button>
      <button data-backdrop="static" data-keyboard="false" data-dismiss="modal" class="btn btn-primary mx-2 btn-negative-isg">Cancel</button>
  </div>

</div>