<div class="w-100">
  <header class="bg-blue text-center">
      <div class="container-fluid">
        <a class="navbar-brand"></a>
      </div>
  </header>
  <!-- <section class="mtb-100 login-container">
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card custom-card" style="border:none !important;">
          <div class="card-body pb-3">
              <div>
              <form class="loginform">
            
                  <div class="offset-2 button-container">
                        <button class="btn btn-primary btn-login mr-3" *ngIf="!isAuthenticated" (click)="login()">Login</button>
                        
                    </div>
                  
                 
              </form>
            </div>
          </div>
        </div>
      </div>
  </section> -->

  <div class="one-article html-article page-intro">

      <button class="btn btn-primary btn-login mr-3" *ngIf="!isAuthenticated" (click)="login()">Login</button>

      <div class="sf-Long-text">
          <div style="float: right; margin-left: 20px; margin-top: 20px">
              <iframe height="327" src="https://www.youtube.com/embed/YvT7wt8aD80?rel=0" width="600" style="border: 6px double #d9d9d6" sandbox="allow-scripts allow-same-origin"></iframe>
          </div>
          <h1 style="margin-bottom: 0px">ISG Inform™</h1>
          <h2 style="color: #03abba; font-size: 2em">Jumpstart your digital journey. Fuel your IT performance.</h2>
          <p>"Am I spending the right amount and how do I compare?"</p>
          <p>"Can I articulate the value IT brings to the business?"</p>
          <p>ISG Inform™ is cloud-based software that provides real-time global IT data, insights and modeling to help you compare,
              optimize and transform your IT organization. Gain access to benchmarking data to instantly assess how you compare
              to your industry peers for IT spend, productivity and quality. </p>
          
          <br clear="all ">
          <hr style="border: 1px solid #d9d9d6">
          <div>
            <div class="informx-cio-img" style="border: 6px double #d9d9d6; margin-right: 20px; float: left"></div>
              <h2 style="color: #03abba; font-size: 2em">
                  Close the IT performance gap between your organization and your peers.</h2>
              <p>Get the information you need to make fact-based investment decisions to drive your digital transformation. Generate
                  cross-market comparisons to analyze, benchmark and evaluate IT spend quickly and efficiently.</p>
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
          <div>
                <div class="informx-dashboard-img"></div>
              <h2 style="color: #03abba; font-size: 2em">
                  
                  Leverage the world’s largest repository of validated IT data.</h2>
              <p>Generate reports that are easily exportable for sharing with colleagues.</p>
              <p>Validate your spend and identify areas for improvement.</p>
              
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
          <h2 style="color: #03abba; font-size: 2em">Role-based Spend Intelligence</h2>
          <div class="role-col">
              <div style="text-align: center">
                  <h3>CIO</h3>
                  <p>
                      <a href="#CIO">
                          <!-- <img src="/assets/images/laptop-and-phone.png" alt="Laptop-and-Phone"
                              title="Laptop-and-Phone" data-displaymode="Original"> -->
                              <div class="laptop-and-phone"></div>
                          <br>Click here</a>
                  </p>
              </div>
              <p>Justify spend and the value IT brings to the business.</p>
              <p>Get the results you need, when you need them.</p>
              <p>Access to experienced consultants to further interpret your results.</p>
          </div>
          <div class="role-col">
              <div style="text-align: center">
                  <h3>CFO/IT Finance</h3>
                  <p>
                      <a href="#CFO">
                          <!-- <img src="/assets/images/desktop-with-chart-and-arrow-1.png"
                              alt="Desktop-with-Chart-and-Arrow-1" title="Desktop-with-Chart-and-Arrow-1" data-displaymode="Original"> -->
                              <div class="cfo-img"></div>
                          <br>Click here</a>
                  </p>
              </div>
              <p>Uncover key areas to drive savings and reduce IT spend.</p>
              <p>Compare regions, business units and prior years.</p>
              <p>Plan for the future by understanding today’s spend relative to your peers.</p>
          </div>
          <div class="role-col">
              <div style="text-align: center">
                  <h3>Infrastructure</h3>
                  <p>
                      <a href="#Infrastructure">
                          <!-- <img src="/assets/images/server-rack-database.png" alt="Server-Rack-Database"
                              title="Server-Rack-Database" data-displaymode="Original"> -->
                              <div class="infrastructure-img"></div>
                          <br>Click here</a>
                  </p>
              </div>
              <p>Pinpoint areas to optimize spend efficiency.</p>
              <p>Drive productivity gains by IT service area.</p>
              <p>Drive industry standard SLAs.</p>
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
          <div>
            <div class="laptop-and-phone laptop-and-phone-right"></div>
              <a name="CIO"></a>
              <h2 style="color: #03abba; font-size: 2em">CIO</h2>
              <p>
                  As a thought leader in your organization, you make strategic decisions that have long term effects and drive
                  shareholder value. Decisions today must be defensible tomorrow, and you’re constantly being asked to do more
                  for less. Let ISG Inform™ help you on your digital journey.</p>
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
          <div>
              <div class="cfo-img cfo-img-right"></div>
              <a name="CFO"></a>
              <h2 style="color: #03abba; font-size: 2em">CFO/IT Finance</h2>
              <p>
                  You’re the key to keeping costs in-line by validating spend. The need for accurate, validated data is critical
                  and there is no time for lengthy benchmark engagements or ad-hoc analysis. ISG Inform™ can help you bridge
                  the gap between making uniformed decisions and maximizing IT budgets. </p>
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
          <div>
              <div class="infrastructure-img infrastructure-img-right"></div>
              <a name="Infrastructure"></a>
              <h2 style="color: #03abba; font-size: 2em">Infrastructure</h2>
              <p>
                  You get endless questions about costs and you are in constant reactionary mode. The business doesn’t understand
                  that IT services are not free. Stay ahead of the game and let ISG Inform™ help you justify IT spend, productivity
                  and service levels with real-time comparisons to your peers.</p>
          </div>
          <br clear="all">
          
          <br clear="all">
          <hr style="border: 1px solid #d9d9d6">
      </div>
  </div>

</div>