<div class="w-100">
    <section class="main-content">
        <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3 my-4 ">
            <div class="card custom-card">
              <div class="card-body pb-3">

                <div class="row m-0 mt-1">
                  <div class="col-7 col-md-4 col-lg-3 col-xl-4 checkbarmenu mx-auto px-0">
                      <div class="btn btn-isg-toggle" [ngClass]="(showIndustries==true)?'active':'no-active'" (click)="toggleFilter(true)">Internal</div>
                      <div class="btn btn-isg-toggle" [ngClass]="(showIndustries==true)?'no-active':'active'" (click)="toggleFilter(false)">External</div>
                  </div>
                </div>
             <!-- User privileges form controls starts -->   
                <div class="row m-0 mt-4">
                  <div class="col">
                    <form>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label>User ID</label>
                                    <select name="Userid" class="form-control">
                                        <option value=0>User ID</option>
                                        <option *ngFor='let scenario of scenarios' value={{scenario.key}}>{{scenario.value}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-12 col-md-6">
                                    <label>Role</label>
                                    <select name="Role" class="form-control">
                                        <option value=0>Role</option>
                                        <option *ngFor='let scenario of scenarios' value={{scenario.key}}>{{scenario.value}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label>Company</label>
                                    <select name="Role" class="form-control">
                                        <option value=0>Company</option>
                                        <option *ngFor='let scenario of scenarios' value={{scenario.key}}>{{scenario.value}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-12 col-md-6">
                                    <label>Project</label>
                                    <select name="Role" class="form-control">
                                        <option value=0>Project</option>
                                        <option *ngFor='let scenario of scenarios' value={{scenario.key}}>{{scenario.value}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-12">
                                    <label>Region</label>
                                    <hr/>
                                        <div class="list-group scenarion-list">
                                            <label class="container-checkbox font-size-group2">
                                                <div>Asia Pacific</div>
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container-checkbox font-size-group2">
                                                <div>Europe (EMEA)</div>
                                                <input  type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container-checkbox font-size-group2">
                                                <div>Latin America</div>
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container-checkbox font-size-group2">
                                                <div>North America</div>
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container-checkbox font-size-group2">
                                                <div>Global</div>
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                <div class="form-group col-12">
                                    <label>Dashboard</label>
                                    <hr>

                                    <div class="card custom-card">
                                        <div class="card-body bg-white">
                                    <div class="row m-0">
                                      <div class="col-12 col-md-4 my-2 pr-0">
                                          <select name="dashboard" class="form-control mt-2">
                                              <option value=0>CIO Dashboard</option>
                                              <option *ngFor='let scenario of scenarios' value={{scenario.key}}>{{scenario.value}}</option>
                                          </select>
                                      </div>

                                      <div class="col-12 col-md-3 my-2 pr-0">
                                          <div class="list-group scenarion-list">
                                              <label class="container-checkbox font-size-group2">
                                                  <div>Compare</div>
                                                  <input  type="checkbox" >
                                                  <span class="checkmark"></span>
                                              </label>
                                              <label class="container-checkbox font-size-group2">
                                                  <div>Input my data</div>
                                                  <input  type="checkbox" >
                                                  <span class="checkmark"></span>
                                              </label>
                                              <label class="container-checkbox font-size-group2">
                                                  <div>View</div>
                                                  <input  type="checkbox" checked >
                                                  <span class="checkmark"></span>
                                              </label>
                                          </div>
                                          
                                      </div>
                                      <div class="col-12 col-md-3 my-2 pr-0 ">
                                        <div class="list-group scenarion-list">
                                            <label class="container-checkbox font-size-group2">
                                                <div>PDF</div>
                                                <input  type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        
                                    </div>

                                      <div class="col-12 col-md-2 my-2 pr-0 d-flex align-items-center">
                                          <div class="d-flex align-content-between flex-wrap row-actions">
                                          <a href="javascript:void(0)" (click)="addData()">
                                              <i class="fa fa-plus-square-o add-row" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:void(0)" (click)="deleteData()">
                                              <i class="fa fa-trash-o delete" aria-hidden="true"></i>
                                            </a>
                                            <input type="checkbox" formControlName="is_visible" class="chkbox" >
                                            </div>
                                         </div>
                                         </div>
                                         </div>
                                      </div>

                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        <label>Start Date</label>
                                        <input type="text" class="form-control" placeholder="start date">
                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        <label>End Date</label>
                                        <input type="text" class="form-control" placeholder="end date">
                                    </div>
                                </div>
                                    <hr>
                                    <div class="form-row">
                                    <div class="form-group col-9 col-md-5 col-lg-4 col-xl-5 mx-auto px-0">
                                        <button class="btn btn-primary btn-add mx-2">Save</button>
                                        <button class="btn btn-primary btn-add mx-2">Update</button>
                                        <button class="btn btn-primary btn-delete">Delete</button>
                                    </div>
                            </div>    
                </form>
                </div>
              </div>
          <!-- User privileges form controls ends -->  

            </div>

        </div>

      </div>
    </section>
</div>
