.mright {
    margin-right: -5px;
}

.sm-mright {
    margin-right: -4px !important;
}

.mrminus8 {
    margin-right: -8px;
}

.m-t-13 {
    margin-top: 13px;
}

.m-t-0 {
    margin-top: 0 !important;
}

.bord-top-both-empty{
    border-top: 2px solid #C0A9C7;
    width: 6%;
    top: 60%;
    left: 80%;
    position: absolute;
}

.max-data.text-muted{
    font-size: 14px!important;
}
.max-data.text-info{
    font-size: 1rem!important;
}
.modal-body svg {
    min-width: 50rem;
}
.remained-perc-font {
    font-size: 16px !important;
}

.remained-percentage {
    color: #75787b !important;
}
.w-55{
    width: 45%;
}
.w-17{
    width: 16.5%;
}
.w-24{
    width: 24%;
}
.w-23{
    width: 23%;
}
.w-27{
    width: 27.5%;
}
.minh-55 span{
    position: relative;
    top: 60px;
    font-size: 20px!important;
    color:#03abba!important;
}
.widget-box {
    width: 100%;
    display: flex;
    padding-top: 12px;
    margin-bottom: 18px;
    background: #f5fbfe;
    padding-bottom: 12px;
    border: 1px solid #ddd;
    /* added */
    margin-left: 15px;
    margin-right: 15px;
}
.min-ht320{
    min-height: 320px;
}
.min-ht325{
    min-height: 325px;
}
.min-ht340{
    min-height: 340px;
}
.main-content {
    font-size: 0.9rem;
    margin-top: 30px;
}
.w-33{
    width:33.33%;
}
.w-37{
    width: 37.49%;
}
.w-25{
    width: 25%;
}
.newclass{
    margin: 0 auto;
}
.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}

/* .modal-dialog {
    margin-left: 20rem;
} */

.pop-up-close {
    background: #29497b;
    border: 0;
    width: 18px;
    height: 18px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px -159px;
    background-image: url(/assets/images/popup-icons.png);
}

.modal-header{
    font-size: 16px;
    max-height: 42px;
    color: #fff;
    background: #29497b;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 0px;
}
.modal-dialog{
    max-width: 845px;
}
/* .linux-personnel-modal-width{
    min-width: 830px;
} */

.linux-personnel-modal-body{
    min-height: 435px;
    min-width: 600px;
}

/* .linux-personnel-modal-body .drilldown-chart{
    top: 0px;
} */

.linux-outsourcing-modal-width{
    max-width: 856px;
}

.linux-outsourcing-modal-width .outsourcing-drilldown-modal-body{
    min-height: 410px;
}

.linux-outsourcing-modal-width .modal-header{
    z-index: 10;
}

/* Dashboard mainframe starts here */

.active-scale, .btn-setRange:focus {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.bord-top{
    border-top: 2px solid #C0A9C7;
    width: 20%;
    top: 50%;
    left: 45%;
    position: absolute;
}

.min-ht300{
    min-height: 300px;
}
.bg-lightblue{
    background: #D6EAF8;
    min-height: 294px;
}
.custom-card{
    background: #f5fbfe;
    border: 1px solid #dddddd;
    border-radius:0.1rem;
}
.custom-card .card-body{
    padding:1rem 1.25rem;
    color:#a0a6a7;
    text-align: center;
}
.custom-card .card-body .card-body{
    padding:0.3rem 0rem;
    min-width: 270px;
}
/* .main-content{
    padding: 1.5rem;
} */

.compare-data-tabs select.form-control-sm, .custom-card select {
    border-radius: .1rem;
    border:1px solid #CAD4E1;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url('/assets/images/ISG-filter-icons.png') right -131px no-repeat;
    cursor: pointer;
    max-width: 337px;
}
select::-ms-expand {
    display:none;
}

.custom-card select.form-control{
    width: 160px;
    border: 1px solid #cad4e1;
    border-radius: 0px;
    height: 34px !important;
    cursor: pointer;
    font-size: 14px;
}
.custom-card span{
    font-size: 0.9rem;
    font-family: OpenSansSemiBold;
}
.custom-card span p{
    margin-bottom: -0.3rem!important;
}
.btn-setRange{
    background: #ffffff;
    border: 1px solid #CAD4E1;
    border-radius: 0.1rem !important;
    color: #494c50;
    font-size: 0.9rem;
    white-space: initial;
}
.btn-setRange:focus, .btn-setRange.active {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.card-header{
    background: #f5fbfe;
    border-bottom: 1px solid #F7F7F7;
    text-transform: capitalize;
    color: #494c50;
    font-size: 13px;
}
.info-icon{
    background: url(/assets/images/ISG-widget-icons.png) -1px -152px no-repeat;
    display: inline-block;
    width: 15px;
    margin-bottom: -2px;
    height: 15px;
}
.circle-arrow-icon{
    background: url(/assets/images/ISG-widget-icons.png) 1px -217px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.arrow-up{
    background: url(/assets/images/ISG-widget-icons.png) 1px 1px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.arrow-lower{
    background: url(/assets/images/ISG-widget-icons.png) 1px -26px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.card-body .text-info{
    font-size: 20px;
    margin-bottom: -6px;
    color:#03abba!important;
}
.arrow-img img + p.text-info:before{
    content: '';
    border-top: 1px solid #C2C5C8;
    display: block;
    position: relative;
    left: -16px;
    width: 35%;
    top: 17px;
}
.align-center{
    align-items: center;
}
.card-body .text-muted{
    font-size: 18px;
    margin-bottom: -6px;
    margin-top: -6px;
    color:#75787b!important;
}
.card-body small{
    color: #a0a6a7;
    font-size: 90%;
}
.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #ffffff;
    position: relative;
    left: -8px;
    top: 45%;
}
.minh-55{
    min-height: 55px;
}
.max-width145{
    max-width: 145px;
}
/* .bg-lightblue .minh-55{
    margin-top: -10px;
} */
.card-body .border-right{
    /* border-right: 1px solid #F7F7F7!important; */
    border-right: 1px dashed #dddddd !important;
}
.card-body .text-grey{
    color:#75787b;
}
.card-body .num-grey{
    color:#494c50;
    font-size: 1.2rem;
}

.displayDiv{
    display: none;
}


@media (min-width: 767px){
    .scale-button{
        width: 125px;
    }
}

@media (max-width: 767px)
{

    .w-33, .w-24, .w-17, .w-23{
        width: 100%;
    }
    .w-37, .w-27{
        width: 100%;
    }
    .w-25 {
        width: 100%!important;
    }
    .w-55{
        width: 100%;
    }
    .custom-card .btn-group{
        display: grid;
    }

    .navbar-brand{
        margin: 0 auto;
    }
    .search-box{
        width: 100%;
        left: 0%;
        background: #81CEE3;
        top: 6%;
    }

    .main-top-nav .nav-item .nav-link{
        font-size: 0.92rem;
        display: inline-block;
        margin: .8rem 0.5rem!important;
    }
    .custom-card select.form-control{
        width: 100%;
    }
    .card-body .form-inline{
        display: block;
    }

}


@media only screen and (min-width:768px) and (max-width:1024px){

    .card-body .text-info {
        font-size: 1rem;
    }
    .w-37{
        width: 55%;
    }
    .w-25 {
        width: 45%!important;
    }
    .w-55{
        width: 70%;
    }
}
@media (min-width:768px) and (max-width:991px) and (orientation:portrait){
    .w-md-100{
        width: 100%!important;
    }
    .w-17, .w-27, .w-23, .w-24{
        width: 50%;
    }
}
@media (min-width:992px) and (max-width:1024px) and (orientation:landscape){
    .search-box{
        top: 15%;
    }
    .card-body .form-inline .form-group{
        display: -webkit-box;
    }
    .w-17, .w-27, .w-23, .w-24{
        width: 50%;
    }
    .w-md-100{
        width: 100%!important;
    }
}

.active-scale, .btn-setRange:focus {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.active-scale {
    background: #03ABBA !important;
    color: #ffffff  !important;
    box-shadow: none  !important;
}
@media only screen and (min-device-width : 1200px) and (max-device-width : 1280px)  {
    .w-55{
        width: 45%;
    }
    .w-37{
        width: 36.5%;
    }
    .w-24{
        width: 24.3%;
    }
    .w-17{
        width: 16%;
    }
    .w-23 {
        width: 25%;
    }
    .w-27{
        width: 27%;
    }
}

.text-info, .text-muted
{
    font-size: 1.2rem !important;
}

.remained-perc-font[_ngcontent-c3]
{
    font-size: 1.2rem !important;
}
.remained-perc-font[_ngcontent-c28]
{
    font-size: 1.2rem !important;
}

.same-value-os {
    top: 42%;
    left: 30%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-core {
    top: 72px;
    left: 28%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-core-label{
    top: 55%;
    left: 29%;
    position: absolute;
}

.same-value-time {
    top: 39%;
    left: 42%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-time-label{
    top: 48%;
    left: 41%;
    position: absolute;
}

.same-value-availabilty {
    top: 42%;
    left: 30%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-os-instance{
    top: 42%;
    left: 42%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-staffing-mix{
    top: 95%;
    left: 30%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-staffingMix-label{
    top: 119%;
    left: 12%;
    position: absolute;
}
/* Dashboard mainframe ends here */