<div class="container-fluid compare-grid" style="padding:0px;" [ngClass]="(iconShow==true)?'maximize':'minimize'" *ngIf="showCompareGridChild">

  <div class="compare-header py-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-0 row" style="margin-left:10px;">Storage Tower</div>
        <!-- <div class="row" *ngIf="mapdata != undefined" style="margin-left:10px;font-size:14px;">Scenario : {{scenarioNametoCompare}}</div> -->
      </div>
      <div class="col-lg-6 text-right d-flex align-items-right">
        <ul class="mb-0 d-flex align-items-center">
          <li class="mx-3" *ngIf="privilegesObject.pdf">
            <a href="javascript:void(0)" class="pdf" (click)="generatePDF()">pdf</a>
          </li>
          <li class="mx-3">

            <a href="javascript:void(0)"  (click)="closeEditGridView()" data-toggle="modal"  data-target=".compare-towers-modal"  class="edit"
               data-dismiss="modal">Edit Selection</a>
          </li>
          <li class="mx-3">
            <div class="resizeIconMinMax fa fa-expand" (click)="popupResize()" *ngIf="iconShow"></div>
            <div class="resizeIconMinMax fa fa-compress" (click)="popupMinimize()" *ngIf="!iconShow"></div>
          </li>
          <li class="mx-3">
            <button (click)="closeGridView()" type="button" style="color:#fff;" class="close" data-dismiss="modal">&times;</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="mb-0 row" style="margin-left:10px; font-size: 14px;" *ngIf="compareSequence">{{sectionService.getScaleTitle()}} :&nbsp;
          <span>{{sectionService.getScale()}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-option" *ngIf="showCompareGridChild">
    <table class="table table-sm mb-0">
      <tbody>
        <tr>
          <td align="left" width="40%">
            <a href="javascript:void(0)" (click)="triggerCollapse(this)" class="toggle-accordion active toggle-all" accordion-id="#accordion"></a>
          </td>
          <td align="center" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
            <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>

  <div class="panel-group gridDataScroll compare-grid-tower-scroll" id="accordion" role="tablist" aria-multiselectable="true"
    *ngIf="showCompareGridChild">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title py-2">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Storage Cost Allocation
          </a>
          <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{costallocationTooltip}}">info</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Personnel</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storagePersonnelCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>

              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Hardware</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageHardwareCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>

              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Software</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageSoftwareCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>
              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Outsourcing</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageOutsourcingCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title py-2">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
            Annual Cost Per Installed TB

          </a>
          <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{annualCostPerTB}}">info</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">
                    <span>Total Cost of Ownership </span>
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageTCOAnnualCostAllocation">
                  {{currencySymbol}}{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
                <td *ngFor="let tdValue of storageMyDataTCOMIP; let i=index" align="center" width="20%" style="color: #03abba;">
                 <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{currencySymbol}}{{ tdValue * refactorVal[i]| number : '1.0-0' }}</span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>

              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">
                    <span>Market Price </span>
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageTCOMarketCostAllocation">{{currencySymbol}}{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title py-2">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
            Annual Cost Per Storage FTE

          </a>
          <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{annualCostPerFTE}}">info</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Employee
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageEmpFTECostAllocation">{{currencySymbol}}{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>

              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Contractor
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageContractorFTECostAllocation">{{currencySymbol}}{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
                <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
                  <span align="center" *ngIf="mapdata != undefined">-</span>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-body">
      <table class="table">
        <tbody>
          <tr>
            <td align="left" width="40%">
              <!-- Storage Utilization -->
              <span class="float-left mr-1">Storage Utilization
                <span class="text-secondary">(Mean)</span>
              </span>
              <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{sotrageUtilizationTooltip}}">info</a>
            </td>
            <td align="center" width="20%" *ngFor="let dataValue of sotrageUtilization">{{dataValue | number : '1.1-1'}}%</td>
            <td *ngFor="let tdValue of storageMyDataUtil" align="center" width="20%" style="color: #03abba;">
              <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}%</span>
              <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-footer panel-body">
      <table class="table">
        <tbody>
          <tr>
            <td align="left" width="40%">
              <span class="float-left mr-1">Storage Availability
                <span class="text-secondary">(Mean)</span>
              </span>
              <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{sotrageAvailabilityTooltip}}">info</a>
            </td>
            <td align="center" width="20%" *ngFor="let dataValue of sotrageAvailability">{{dataValue | number : '1.2-2'}}%</td>
            <td *ngFor="let tdValue of storageMyDataAvail" align="center" width="20%" style="color: #03abba;">
              <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.2-2' }}%</span>
              <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel-footer panel-body">
      <table class="table">
        <tbody>
          <tr>
            <td align="left" width="40%">
              <span class="float-left mr-1"># of Storage TBs Per FTE
                <span class="text-secondary">(Mean)</span>
              </span>
              <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{storageNumberMIPFTETooltip}}">info</a>

            </td>
            <td align="center" width="20%" *ngFor="let dataValue of storageNumberMIPFTE">{{dataValue | number : '1.0-0'}}</td>
            <td *ngFor="let tdValue of storageMyDataFTENum" align="center" width="20%" style="color: #03abba;">
              <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.0-0' }}</span>
              <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title py-2">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTB" aria-expanded="false" aria-controls="collapseOne">
            Storage By Type
          </a>
          <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{storTypePerTB}}">info</a>
        </h4>
      </div>
      <div id="collapseTB" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <table class="table">
            <tbody>

              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">SAN</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageTypeTBSAN">{{dataValue | number : '1.1-1'}}%</td>
                <td *ngFor="let tdValue of storageSAN" align="center" width="20%" style="color: #03abba;">
                  <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>
              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">NAS</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageTypeTBNAS">{{dataValue | number : '1.1-1'}}%</td>
                <td *ngFor="let tdValue of storageNAS" align="center" width="20%" style="color: #03abba;">
                  <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>
              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Backup & Archive</span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageTypeTBOther">{{dataValue | number : '1.1-1'}}%</td>
                <td *ngFor="let tdValue of storageOther" align="center" width="20%" style="color: #03abba;">
                  <span align="center" *ngIf="mapdata != undefined && (tdValue > 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue==0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title py-2">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
            Staffing Mix
          </a>
          <a href="javascript:void(0)" class="info float-left" placement="top" ngbTooltip="{{staffingMixTool}}">info</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Employees
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageStaffingEmployees">{{dataValue | number : '1.1-1'}}%</td>
                <td *ngFor="let tdValue of staffingmixEmp" align="center" width="20%" style="color: #03abba;">
                  <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}%</span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>
              </tr>
              <tr>
                <td align="left" width="40%">
                  <span class="float-left mr-1">Contractors
                    <span class="text-secondary">(Mean)</span>
                  </span>
                </td>
                <td align="center" width="20%" *ngFor="let dataValue of storageStaffingContractors">{{dataValue | number : '1.1-1'}}%</td>
                <td *ngFor="let tdValue of staffingmixContract" align="center" width="20%" style="color: #03abba;">
                  <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
                  <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div id="pdftable" style="display: none;">

    <table id="Table_header1">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr>
        <td align="left" width="40%"> Storage Tower</td>
      </tr>
    </table>
    <table id="Table_Data1" style="display: none;">
      <tr></tr>
    </table>
    <table id="Table_header2">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr *ngIf="compareSequence">
        <td align="left" width="40%" style="font-size:14px;">{{sectionService.getScaleTitle()}} : {{sectionService.getScale()}}</td>
      </tr>
    </table>
    <table id="Table_Data2" style="display: none;">
      <tr></tr>
    </table>
    <table id="Table_selected_industry_region" style="display: none;">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue }}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>

      </tr>
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>
      </tr>
    </table>

    <table id="Table_header3">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr>
        <td align="left" width="40%"> Storage Cost Allocation</td>
      </tr>
    </table>
    <table id="Table_Data3" style="display: none;">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storagePersonnelCostAllocation">{{dataValue}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>
      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>
        </tr> -->
      <tr>
        <td align="left" width="40%">
          Personnel
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storagePersonnelCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
      <tr>
        <td align="left" width="40%">
          Hardware
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageHardwareCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
      <tr>
        <td align="left" width="40%">
          Software
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageSoftwareCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
      <tr>
        <td align="left" width="40%">
          Outsourcing
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageOutsourcingCostAllocation">{{dataValue | number : '1.1-1'}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
    </table>
    <table id="Table_header4">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr>
        <td align="left" width="40%"> Annual Cost Per Installed TB</td>
      </tr>
    </table>
    <table id="Table_Data4" style="display: none;">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTCOAnnualCostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td *ngFor="let tdValue of storageMyDataTCOMIP; let i=index" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{pdfCurrencySymbol}}&nbsp;{{ tdValue * refactorVal[i] | number : '1.0-0' }}</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>

        </tr> -->
      <tr>
        <td align="left" width="40%">
          Total Cost of Ownership
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTCOAnnualCostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td *ngFor="let tdValue of storageMyDataTCOMIP; let i=index" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{pdfCurrencySymbol}}&nbsp;{{ tdValue * refactorVal[i] | number : '1.0-0' }}</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
      <tr>
        <td align="left" width="40%">
          Market Price
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTCOMarketCostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>


    </table>

    <table id="Table_header5">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr>
        <td align="left" width="40%"> Annual Cost Per Storage FTE</td>
      </tr>
    </table>
    <table id="Table_Data5" style="display: none;">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storageEmpFTECostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>


        </tr> -->

      <tr>
        <td align="left" width="40%">
          Employee
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageEmpFTECostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
      <tr>
        <td align="left" width="40%"> Contractor
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageContractorFTECostAllocation">{{pdfCurrencySymbol}}&nbsp;{{dataValue * defaultRefactorValue[0] | number : '1.0-0'}}</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">-</span>
        </td>

      </tr>
    </table>

    <table id="Table_header6">
      <tr>
        <th></th>
      </tr>
      <tr>
        <!-- Storage Utilization -->
        <td align="left" width="40%"> Storage Utilization </td>
      </tr>
    </table>
    <table id="Table_Data6" class="table table-striped">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of sotrageUtilization"></td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>
      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>
        </tr> -->
      <tr>
        <!-- Storage Utilization -->
        <td align="left" width="40%"> Storage Utilization
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of sotrageUtilization">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of storageMyDataUtil" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}%</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
    </table>
    <table id="Table_header7">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td align="left" width="40%"> Storage Availability </td>
      </tr>
    </table>
    <table id="Table_Data7" class="table table-striped">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of sotrageAvailability"></td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>

      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>

        </tr> -->
      <tr>
        <td align="left" width="40%">Storage Availability
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of sotrageAvailability">{{dataValue | number : '1.2-2'}}%</td>
        <td *ngFor="let tdValue of storageMyDataAvail" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.2-2' }}%</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
    </table>

    <table id="Table_header8">
      <tr>
        <th width="90%"></th>
      </tr>
      <tr>
        <td align="left" width="40%"># of Storage TBs Per FTE </td>
      </tr>
    </table>
    <table id="Table_Data8" style="display: none;">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storageNumberMIPFTE">{{dataValue | number : '1.0-0'}}%</td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>

      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>

        </tr> -->
      <tr>
        <td align="left" width="40%"># of Storage TBs Per FTE
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageNumberMIPFTE">{{dataValue | number : '1.0-0'}}</td>
        <td *ngFor="let tdValue of storageMyDataFTENum" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.0-0' }}</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>

    </table>
    <table id="Table_header9">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td align="left" width="40%">Staffing Mix</td>
      </tr>
    </table>
    <table id="Table_Data9" class="table table-striped">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storageStaffingEmployees"></td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>

      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" class="float-left mr-1" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>

        </tr> -->
      <tr>
        <td align="left" width="40%">
          Employees
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageStaffingEmployees">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of staffingmixEmp" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}%</span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
      <tr>
        <td align="left" width="40%">
          Contractors
          <span class="text-secondary">(Mean)</span>
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageStaffingContractors">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of staffingmixContract" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>

    </table>

    <table id="Table_header10">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td align="left" width="40%">Storage By Type</td>
      </tr>
    </table>
    <table id="Table_Data10" class="table table-striped">
      <tr>
        <td></td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTypeTBSAN"></td>
        <td align="center" style="color: #03abba; font-weight: bold;" width="20%" *ngFor="let scenarioName of scenarioNametoCompare">
          <span align="center" *ngIf="mapdata != undefined">{{scenarioName}}</span>
        </td>

      </tr>
      <!-- <tr>
          <td></td>
          <td align="left" width="20%" class="float-left mr-1" *ngFor="let dataValue of compareSequence">{{dataValue}}</td>
          <td align="left" width="20%" *ngIf="mapdata != undefined">My Data</td>

        </tr> -->
      <tr>
        <td align="left" width="40%">
          SAN
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTypeTBSAN">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of storageSAN" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
      <tr>
        <td align="left" width="40%">
          NAS
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTypeTBNAS">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of storageNAS" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue >= 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue < 0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>
      <tr>
        <td align="left" width="40%">
          Backup & Archive
        </td>
        <td align="left" width="20%" *ngFor="let dataValue of storageTypeTBOther">{{dataValue | number : '1.1-1'}}%</td>
        <td *ngFor="let tdValue of storageOther" align="center" width="20%" style="color: #03abba;">
          <span align="center" *ngIf="mapdata != undefined && (tdValue > 0 && tdValue < infinity)">{{ tdValue | number : '1.1-1' }}% </span>
          <span align="center" *ngIf="mapdata != undefined && (tdValue==0 || tdValue ==infinity)">{{dashSymbol}}</span>
        </td>
      </tr>

    </table>

  </div>

</div>