.margin-left-47-5
{
    margin-left: 47.5%;
}

.padding-right-1-3
{
    padding-right: 1.3rem;
}

.width-108
{
    width: 108%;
}

.margin-left-46
{
    margin-left: 46%;
}

.width-110
{
    width: 110%;
}

.margin-left-47
{
    margin-left: 47%;
}

.width-109
{
    width: 109%;
}

.margin-left-48
{
    margin-left: 48%;
}

.width-107
{
    width: 107%;
}


.margin-right-0-2
{
    margin-right: 0.2rem !important;
}

.scale-text
{
    float: left;
}

.padding-top-0-5-rem
{
    padding-top: 0.5rem;
}

.width-75
{
    width: 75% !important;
}

.padding-top-3rem
{
    padding-top: 1rem !important;
}

#digital-top-10 
{
    text-anchor: left;
}

.padding-top-2rem
{
    padding-top: -1rem !important;
}

.padding-top-1-9rem
{
    padding-top: 2.2rem !important;
}

.width-200
{
    width:175px !important; 
}

.margin-top-2rem
{
    margin-top: 2rem !important;
}

.padding-left-3rem
{
    padding-left: 13rem !important;
    margin-top: 16px;
}

.margin-left-2-5
{
    margin-left: 2.5rem !important;
    height: 110px !important;
}

.ht-360
{
    min-height: 360px !important;
}

.ht-425
{
    min-height: 425px !important;
}

.ht-450
{
    min-height: 450px !important;
}


.digital-coe-barchart
{
    width: 400px;
}

.padding-top-4-rem
{
    padding-top: 4rem !important;
}

.width-50
{
    width: 50% !important;
}

.width-40
{
    width: 40% !important;
}

.width-62
{
    width: 62.5% !important;
}

.width-75
{
    width: 75% !important;
}

.width-100
{
    width: 100% !important;
}

.width-34
{
    width: 33.6% !important;
}

.w-34
{
    width: 34.1% !important;
}

.width-32-4
{
    width: 32.4% !important;
}

.width-37-5
{
    width: 37.5% !important;
}

.with-27
{
    width: 27% !important;
}

.width-39
{
    width: 39.6% !important;
}

.width-41
{
    width: 41.6% !important;
}

.width-60
{
    width: 60% !important;
}

.width-40
{
    width: 40% !important;
}

.width-100
{
    width: 100% !important;
}

.padding-1rem
{
    padding-right: 1rem;
    padding-left: 1rem;
}

.padding-all-1rem
{
    padding: 1rem;
}

.enter-my-data-background
{
    padding-top: 0px !important;
    margin-left: 15px !important;
}

.mright {
    margin-right: -5px !important;
}

.sm-mright {
    margin-right: -4px !important;
}

.mrminus8 {
    margin-right: -8px;
}

.mright-sm {
    margin-right: -36px !important;
}

.m-t-13 {
    margin-top: 13px;
}

.m-t-0 {
    margin-top: 0 !important;
}

.pr-0 {
    padding-right: 0;
}

.same-value {
    top: 42%;
    left: 30%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-ticket-per-month {
    top: 42%;
    left: 40%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.same-value-handletime {
    top: 42%;
    left: 42%;
    position: absolute;
    font-size: 1.2rem !important;
    color: #03abba!important;
}

.equality-center-aligned-staffingmix {
    padding-top: 4.45rem;
}

.tco-user-ticket-equal {
    position: absolute;
    top: 43%;
    left: 31%;
}

.equality-center-aligned {
    position: absolute;
    top: 43%;
    left: 40%;
}

.max-w-270{
    max-width: 270px;
}
.text-black-single-value {
    color: #75787b;
    font-family: OpenSansRegular;
    font-size: 14px;
    cursor: pointer;
    white-space: normal!important;
}

.maxw45{
    max-width: 45%;
}
.max-data.text-muted{
    font-size: 14px!important;
}
.max-data.text-info{
    font-size: 1rem!important;
}
.remained-perc-font {
    font-size: 16px !important;
    font-family: OpenSansRegular !important; 
    
}

.remained-percentage {
    color: #75787b !important;
}

.text-info, .text-muted
{
    font-size: 1.2rem !important;
}

.remained-perc-font[_ngcontent-c3]
{
    font-size: 1.2rem !important;
}
.remained-perc-font[_ngcontent-c28]
{
    font-size: 1.2rem !important;
}

.remained-perc-font[_ngcontent-c27]
{
    font-size: 1.2rem !important;
}

.square-hw {
    height: 20.5px;
    width: 20.5px;
    background-color: #81CDE4;
    position: relative;
    top: 22px;
    right: 86px;
}

.hw-donut-chart-value {
    color: rgb(73, 76, 80);
    font-size: 15px;
    font-family: OpenSansRegular;
    position: relative;
    top: 20px;
    left: 246px;
}

.hw-single-donut-chart-value {
    padding-right:10px;top: 60px;
    position: relative;
    left: 190px;
    font-size: 15px;
    color: #75787b;
}

.drilldown-modal-width-personnel {
    /* min-width: 924px; */
    background-color: white;
}
.modal-dialog{
    max-width: 875px;
}
.infra-popup-modal-dialog{
    max-width: 800px;
}
.outsourcing-drilldown-modal-body{
    min-height: 395px;
}
.outsourcing-drilldown-modal-width {
    /* min-width: 932px; */
    background-color: white;
}

.outsourcing-drilldown-modal-width .modal-header {
    z-index: 10;
}

/* .software-drilldown-modal-body{
    min-height: 376px;
    min-width: 600px;
} */

.w-55{
    width: 55%;
}
.w-17{
    width: 17.3%;
}
.w-24{
    width: 24%;
}
.w-28{
    width: 28%;
}
.w-23{
    width: 23%;
}
.w-32{
    width: 32%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
    /* width: 39.1%; */
}
.minh-55 span{
    position: relative;
    top: 60px;
    font-size: 20px!important;
    color:#03abba!important;
}
.widget-box {
    width: 100%;
    display: flex;
    padding-top: 12px;
    margin-bottom: 18px;
    background: #f5fbfe;
    padding-bottom: 12px;
    border: 1px solid #ddd;
    /* added */
    margin-left: 15px;
    margin-right: 15px;
}
.min-ht300{
    min-height: 300px;
}
.min-ht320{
    min-height: 320px;
}
.min-ht325{
    min-height: 325px;
}
.min-ht340{
    min-height: 340px;
}
.main-content {
    font-size: 0.9rem;
    margin-top: 30px;
}
.w-33{
    width:33.33%;
}
.w-37{
    width: 37.49%;
}
.w-25{
    width: 24% !important;
    min-height: 230px ;

}
.newclass{
    margin: 0 auto;
}
.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}

.pop-up-close {
    background: #29497b;
    border: 0;
    width: 18px;
    height: 18px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px -159px;
    background-image: url(/assets/images/popup-icons.png);
}

.digital-backbone-icon
{
    background-image: url(/assets/images/digital/digital-backbone.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}

.buiness-innovation-icon
{
    background-image: url(/assets/images/digital/business-innovation.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}

.digital-ecosystem-icon
{
    background-image: url(/assets/images/digital/digital-ecosystem.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}

.digital-operating-model-icon
{
    background-image: url(/assets/images/digital/digital-operating-model.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}

.insights-icon
{
    background-image: url(/assets/images/digital/insights.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}

.smart-technologies-icon
{
    background-image: url(/assets/images/digital/smart-technologies.svg);
    width: 6rem;
    height: 6rem;
    background-size: contain;
    margin-top: 1rem;
    margin-left: 1rem;
    background-repeat: no-repeat;
}


.modal-header{
    font-size: 16px;
    max-height: 42px;
    color: #fff;
    background: #29497b;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 0px;
}


/* Dashboard mainframe starts here */

.active-scale, .btn-setRange:focus {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.bord-top{
    border-top: 2px solid #C0A9C7;
    width: 20%;
    top: 50%;
    left: 45%;
    position: absolute;
}

.bord-top-both-empty{
    border-top: 2px solid #C0A9C7;
    width: 6%;
    top: 56%;
    left: 74%;
    position: absolute;
}

.min-ht300{
    min-height: 300px;
}
.bg-lightblue{
    background: #D6EAF8;
    min-height: 278px;
}
.custom-card{
    background: #f5fbfe;
    border: 1px solid #dddddd;
    border-radius:0.1rem;
}
.custom-card .card-body{
    padding:1rem 1.25rem;
    color:#a0a6a7;
    text-align: center;
}
.custom-card .card-body .card-body{
    padding:0.3rem 0rem;
    min-width: 270px;
}
/* .main-content{
    padding: 1.5rem;
} */

.compare-data-tabs select.form-control-sm, .custom-card select {
    border-radius: .1rem;
    border:1px solid #CAD4E1;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url('/assets/images/ISG-filter-icons.png') right -131px no-repeat;
    cursor: pointer;
    max-width: 337px;
}
select::-ms-expand {
    display:none;
}

.custom-card select.form-control{
    width: 160px;
    border: 1px solid #cad4e1;
    border-radius: 0px;
    height: 34px !important;
    cursor: pointer;
    font-size: 14px;
}
.custom-card span{
    font-size: 0.9rem;
    font-family: OpenSansSemiBold;
}
.custom-card span p{
    margin-bottom: -0.3rem!important;
}
.btn-setRange{
    background: #ffffff;
    border: 1px solid #CAD4E1;
    border-radius: 0.1rem !important;
    color: #494c50;
    font-size: 0.9rem;
    white-space: initial;
}
.btn-setRange:focus, .btn-setRange.active {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.card-header{
    background: #f5fbfe;
    border-bottom: 1px solid #F7F7F7;
    text-transform: capitalize;
    color: #494c50;
    font-size: 13px;
}
.info-icon{
    background: url(/assets/images/ISG-widget-icons.png) -1px -152px no-repeat;
    display: inline-block;
    width: 15px;
    margin-bottom: -2px;
    height: 15px;
}
.circle-arrow-icon{
    background: url(/assets/images/ISG-widget-icons.png) 1px -217px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.arrow-up{
    background: url(/assets/images/ISG-widget-icons.png) 1px 1px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.arrow-lower{
    background: url(/assets/images/ISG-widget-icons.png) 1px -26px no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
}
.card-body .text-info{
    font-size: 20px;
    margin-bottom: -6px;
    color:#03abba!important;
    font-family: "openSansRegular" !important;
}
.arrow-img img + p.text-info:before{
    content: '';
    border-top: 1px solid #C2C5C8;
    display: block;
    position: relative;
    left: -16px;
    width: 35%;
    top: 17px;
}
.align-center{
    align-items: center;
}
.card-body .text-muted{
    font-size: 18px;
    margin-bottom: -6px;
    margin-top: -6px;
    color:#75787b!important;
}
.card-body small{
    color: #a0a6a7;
    font-size: 90%;
}
.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #ffffff;
    position: relative;
    left: -8px;
    top: 45%;
}
.minh-55{
    min-height: 55px;
}
.max-width145{
    max-width: 145px;
}
.bg-lightblue .minh-55{
    margin-top: -10px;
}
.card-body .border-right{
    /* border-right: 1px solid #F7F7F7!important; */
    border-right: 1px dashed #dddddd !important;
}
.card-body .text-grey{
    color:#75787b;
}
.card-body .num-grey{
    color:#494c50;
    font-size: 1.2rem;
}

.displayDiv{
    display: none;
}

@media (min-width: 767px){
    .scale-button{
        width: 120px;
    }
}

@media (max-width: 767px)
{
    .w-33, .w-23, .w-37, .w-55, .w-17, .w-28, .w-24, .w-40, .w-32{
        width: 100%;
    }
    .w-25 {
        width: 100%!important;
    }
    .custom-card .btn-group{
        display: grid;
    }

    .navbar-brand{
        margin: 0 auto;
    }
    .search-box{
        width: 100%;
        left: 0%;
        background: #81CEE3;
        top: 6%;
    }

    .main-top-nav .nav-item .nav-link{
        font-size: 0.92rem;
        display: inline-block;
        margin: .8rem 0.5rem!important;
    }
    .custom-card select.form-control{
        width: 100%;
    }
    .card-body .form-inline{
        display: block;
    }
    .drilldown-modal-body {
        min-width: 689px;
    }

}


@media only screen and (min-width:768px) and (max-width:1024px){

    .card-body .text-info {
        font-size: 1rem;
    }
    .w-23, .w-32{
        width: 50%;
    }


    .w-25, .w-17, .w-24 {
        width: 50%!important;
    }
    .w-55, .w-40{
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:991px) and (orientation:portrait){
    .w-md-100{
        width: 100%!important;
    }
    .w-37{
        width: 50%;
    }
    .w-28{
        width: 50%;
    }
}
@media (min-width:992px) and (max-width:1024px) and (orientation:landscape){
    .search-box{
        top: 15%;
    }
    .card-body .form-inline .form-group{
        display: -webkit-box;
    }
    .w-37{
        width: 65%;
    }
    .w-28{
        width: 35%;
    }
}

.active-scale, .btn-setRange:focus {
    background: #03ABBA;
    color: #ffffff;
    box-shadow: none;
}

.active-scale {
    background: #03ABBA !important;
    color: #ffffff  !important;
    box-shadow: none  !important;
}
@media only screen and (min-device-width : 1200px) and (max-device-width : 1280px)  {

    .w-37{
        width: 36.5%;
    }
    .w-40{
        width: 41%;
    }
    .w-32{
        width: 31%;
    }

}

.annual-cost-desk-fte
{
    width: 33.33% !important;
}

.no-service-desk-ticket
{
    width: 37.4% !important;
}

.offshore-perc
{
    width: 33.33% !important;
}


.first-call-resolution
{
    width: 30% !important;
}

.avg-speed-answer
{
    width: 30% !important;
}

.width-33
{
    width: 33.33% !important;
}

 @media only screen and (min-width:2500px) and (max-width:2700px){
    .second-row-component-2560
    {
        width: 25% !important;
    }

    .width-33
    {
        width: 33.33% !important;
    }

    .annual-cost-30
    {
        width: 30% !important;
    }

    .cost-per-ser-31
    {
        width: 31.8% !important;
    }

    .no-service-desk-ticket, .offshore-perc, .desk-staffing-mix, .width-33
    {
        width: 33.33% !important;
    }

    .third-row-width-33
    {
        width: 33.33% !important;
    }

    .min-ht-2700
    {
        min-height: 320px !important;
    }


}

@media only screen and (min-width:2701px) and (max-width:2900px){
    
    .annual-cost-service-desk-2700
    {
        width: 30% !important;
    }
    
    .service-desk-ticket-2700
    {
        width:32.7% !important;
    }

    .second-row-component-2560
    {
        width: 25% !important;
    }

    .min-ht-2700
    {
        min-height: 320px !important;
    }

    .no-service-desk-ticket, .offshore-perc, .desk-staffing-mix, .width-33
    {
        width: 33.33% !important;
    }

    .third-row-width-33
    {
        width: 33.33% !important;
    }

    .annual-cost-30
    {
        width: 30% !important;
    }

    .cost-per-ser-31
    {
        width: 32.7% !important;
    }


} 

.left-side {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 25px;
}

.right-side {
    padding-right: 10px;
}

.right-side .it-spend-PU {
    color: #03abba;
    font-size: 26px;
    line-height: 23px;
    margin-bottom: 20px;
}

.right-side .it-spend-PU span.per-user {
    color: #a0a6a7;
    font-size: 14px;
    display: block;
}

.right-side .upper {
    color: #a0a6a7;
    font-size: 18px;
    margin-bottom: 42px;
    padding-left: 25px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.right-side .upper span {
    color: #a0a6a7;
    font-size: 12px;
    display: block;
    position: absolute;
}

.right-side .lower {
    color: #a0a6a7;
    font-size: 18px;
    padding-left: 25px;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.right-side .lower span {
    color: #a0a6a7;
    font-size: 12px;
    display: block;
}

.right-side ul
{
    padding-left: 0px;
}

.right-side ul li {
    color: #a0a6a7;
    font-size: 14px;
    margin-bottom: 6px;
    list-style-type: none;
}

.right-side .expendi {
    font-size: 20px;
}

.right-side .expendi span {
    font-size: 14px;
    float: right;
}

.right-side .personnal {
    color: #8b69c8;
}

.right-side .hardware {
    color: #9acb3b;
}

.right-side .softwear {
    color: #03abba;
}

.right-side .outsourced {
    color: #29497b;
}

.right-side .other {
    color: #81cee3;
}

.right-side .implement {
    color: rgb(250, 206, 167)
}

.rigth-side .sustain {
    color: rgb(182, 191, 221);
}

.cost-center-align
{
    text-align: center !important;
    padding-left: 1rem;
}

.empty-arrow-container
{
    height: 2rem;
    background: #D6EAF8;
}

.empty-bord-top
{
    margin-top: 1rem;
    border-top: 2px solid #C0A9C7;
    width: 20%;
    /* top: 50%; */
    left: 45%;
    position: absolute;
}


.bg-lightblue{
    background: #D6EAF8;
}

.ht-471
{
    height: 471px !important;
}

.onbudget-delivery
{
    width: 29.1% !important;
}

.width-30
{
    width: 30% !important;
}

.width-29
{
    width: 29% !important;
}

.padding-right-0
{
    padding-right: 0px !important;
}
/* Dashboard mainframe ends here */

.ht-247
{
    min-height: 247px;
}

.padding-1rem
{
    padding: 1rem !important;
}

.ht-274
{
    height: 274px;
}


.margin-1rem
{
    margin: 0.4rem !important;
}

/***********************************************************/
/************** © 2018 ISG - All Rights Reserved ***********/
/***********************************************************/

/***********************************************************/
/** File Name: cio-dashboard.component.css                **/
/** Description: This is cio-dashboard css.               **/
/**                                                       **/
/**                                                       **/
/** Created By: 10652318  Created Date: 28/09/2018        **/
/** Update By: 10652318  Update Date: 28/09/2018          **/
/** Developed at:                 **/
/***********************************************************/
.staffing-mix-equality
{
    padding-top:5.2rem;
}
.outsourced-equal-value-container
{
    height: 10rem;
    padding-top:4rem;
}

.itrunchange-equal-value-container
{
    height: 10rem;
}

.equal-value-center
{
    margin-top:50%;
}

.cost-breakdown-value-center
{
    min-height: 5rem;
    padding-top: 1.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.empty-arrow-container
{
    height: 2rem;
}

.empty-bord-top
{
    margin-top: 1rem;
    border-top: 2px solid #C0A9C7;
    width: 20%;
    /* top: 50%; */
    left: 45%;
    position: absolute;
}


.bg-lightblue{
    background: #D6EAF8;
}

.bord-top-both-empty{
    border-top: 2px solid #C0A9C7;
    width: 6%;
    top: 60%;
    left: 80%;
    position: absolute;
}
.bord-top{
    border-top: 2px solid #C0A9C7;
    width: 20%;
    top: 50%;
    left: 45%;
    position: absolute;
}

.bord-top-both-empty{
    border-top: 2px solid #C0A9C7;
    width: 6%;
    top: 60%;
    left: 80%;
    position: absolute;
}

.right-side.max-data{
    width: 140px;
}
.right-side.max-data .it-spend-PU{
    font-size: 20px;
}
.upper, .lower{
    font-size: 15px!important;
    text-align: left!important;
}
.enter-my-data-background.circle-percent{
    color: #03abba;
    font-size: 21px;
}
.w-20{
    width:20%;
}
.w-23{
    width:23%;
}
.w-28{
    width:28%;
}
.w-30{
    width:30%;
}
.w-33{
    width:33.33%;
}
.w-35{
    width:35%;
}
.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-55{
    width: 55%;
}
.w-52{
    width: 52%;
}
.modal-dialog {
    max-width: 780px;
}
.infra-popup-breakdown .modal-body{
    min-height: 280px;
    min-width: 600px;
}
.minht-250{
    min-height: 250px;
}
.minht-285{
    min-height: 285px;
}
.minht-300{
    min-height: 300px;
}
.remained-percentage {
    color: #75787b;
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}

.cio-pie-chart-holder {
    position: absolute;
    top: 23px;
    left: 20px;
}

.it-spend-exp-svg {
    position: absolute;
    top: -22px;
    left: -12px;
}

#capex-donut > svg {
    position: absolute;
    display: block;
    margin-top: -60px;
    margin: auto;
    top: -60px !important;
}

.pop-up-close {
    background: #29497b;
    border: 0;
    width: 18px;
    height: 18px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px -158px;
    background-image: url(/assets/images/popup-icons.png);
}

.ui-exp-popup-text {
    top: 9px;
    /* top: 62px; */
    position: absolute;
    width: 100%;
    left: 0px;
}

.ui-ex-text > a {
    font-family: OpenSansRegular;
    font-size: 16px;
    text-decoration: underline;
    color: #75787b;
}

.ui-ex-mtop-btm {
    margin-top: 25px;
    margin-bottom: 25px;
}

.enter-my-data-font{
    font-size: 21px !important;
}

/* Widget-CSS */

.widget-box {
    width: 100%;
    padding-top: 12px;
    margin-bottom: 18px;
    background: #f5fbfe;
    padding-bottom: 12px;
    border: 1px solid #ddd;
}

.widget-box-m {
    width: 100%;
    padding-top: 12px;
    margin-bottom: 18px;
    background: #f5fbfe;
    padding-bottom: 12px;
    border: 1px solid #ddd;
}

.widget-box .widget-box-m,
.heading {
    font-size: 16px;
    color: #494c50;
    margin-bottom: 15px;
    text-align: left;
}

.widget-box .widget-box-m,
.sub-heading {
    color: #494c50;
    font-size: 14px;
    position: relative;
    text-align: left;
}

.widget-box .widget-box-m,
.sub-heading .info {
    margin-left: 6px;
}

.widget-box .widget-box-m,
.sub-heading .info a {
    padding: 0px 10px;
    transition: all 0.2s ease;
    background-position: 0px -151px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.widget-box .widget-box-m,
.sub-heading .info a:hover {
    background-position: 0px -151px;
}

/* for heading start */
.heading .info {
    margin-left: 6px;
}

.heading .info a {
    padding: 0px 10px;
    transition: all 0.2s ease;
    background-position: 0px -151px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.heading .info a:hover {
    background-position: 0px -151px;
}
/* for heading end */

.widget-box .widget-box-m,
.sub-heading .popout {
    top: 0px;
    right: 0px;
    position: absolute;
}

.widget-box .widget-box-m,
.sub-heading .popout a {
    padding: 1px 10px;
    transition: all 0.2s ease;
    background-position: 0px -215px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.widget-box .widget-box-m,
.sub-heading .popout a:hover {
    background-position: 0px -215px;
}

.circle-graph {
    display: flex;
    align-items: center;
}

.cb-circle-graph {
    justify-content: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #03abba;
}

.cb-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #03abba;
}

.circle-percent {
    color: #03abba;
    font-size: 36px;
    margin-left: 3px;
    line-height: 25px;
}

.cb-circle-percent {
    
    font-size: 24px;
}

.mean {
    display: block;
    color: #a0a6a7;
    font-size: 14px;
}

.upper {
    color:#a0a6a7;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 25px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.lower {
    color:#a0a6a7;
    font-size: 14px;
    padding-left: 25px;
    background-position: 0px -22px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.upper .lower,
span.percent {
    font-size: 18px;
    /* color: #494c50; */
    /* color:#a0a6a7; */
    color: #75787b;
}

.left-side {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 25px;
}

.right-side {
    padding-right: 10px;
}

.right-side .it-spend-PU {
    color: #03abba;
    font-size: 26px;
    line-height: 23px;
    margin-bottom: 20px;
}

.right-side .it-spend-PU span.per-user {
    color: #a0a6a7;
    font-size: 14px;
    display: block;
}

.right-side .upper {
    color: #a0a6a7;
    font-size: 18px;
    margin-bottom: 42px;
    padding-left: 25px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.right-side .upper span {
    color: #a0a6a7;
    font-size: 12px;
    display: block;
    position: absolute;
}

.right-side .lower {
    color: #a0a6a7;
    font-size: 18px;
    padding-left: 25px;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/ISG-widget-icons.png);
}

.right-side .lower span {
    color: #a0a6a7;
    font-size: 12px;
    display: block;
}

.right-side ul li {
    color: #a0a6a7;
    font-size: 14px;
    margin-bottom: 6px;
}

.right-side .expendi {
    font-size: 20px;
}

.right-side .expendi span {
    font-size: 14px;
    float: right;
}

.right-side .personnal {
    color: #8b69c8;
}

.right-side .hardware {
    color: #9acb3b;
}

.right-side .softwear {
    color: #03abba;
}

.right-side .outsourced {
    color: #29497b;
}

.right-side .other {
    color: #81cee3;
}

.capex,
.opex {
    font-size: 12px;
    color: #75787b;
    text-align: center;
}

.capex {
    padding-left: 20px;
}

.opex {
    padding-right: 26px;
}

.capex-graph {
    height: 80px;
    margin: auto;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;

}

.capex-graph .remained-percentage{
    font-size: 1rem;
}

.capex-percent {
    font-size: 26px;
    color: #9acb3b;
}

.opex-percent {
    font-size: 26px;
    color: #03abba;
}

.capex-percent span {
    font-size: 26px;
}

.it-stage {
    text-align: center;
}

.it-stange-data {
    border-right: 1px dashed #ddd;
}

.it-stage .percent-number {
    font-size: 30px;
    margin-top: 12px;
    line-height: 22px;
    margin-bottom: 30px;
}

.it-stage .percent-number .percent {
    font-size: 24px;
}

.it-stage .stage-name {
    font-size: 14px;
    color: #a0a6a7;
    display: block;
}

.it-stage .run {
    color: #9acb3b;
}

.run-percentage {
    color: #9acb3b !important;
}

.it-stage .change {
    color: #03abba;
}

.change-percentage {
    color: #03abba !important;
}

.it-stage .transform {
    color: #8b69c8;
}

.transform-percentage {
    color: #8b69c8 !important;
}

.it-stage .upper {
    font-size: 20px;
    color: #75787b;
    margin-bottom: 18px;
}

.it-stage .lower {
    font-size: 20px;
    color: #75787b;
}

.it-stage .upper,
.it-stage .lower {
    width: 75px;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
}

.it-stage .upper .lower,
.direction {
    font-size: 12px;
    color: #a0a6a7;
}

.it-employee,
.it-contractor {
    text-align: center;
}

.it-employee .icon,
.it-contractor .icon {
    min-height: 76px;
}

.it-employee .percent-number,
.it-contractor .percent-number {
    color: #03abba;
    font-size: 30px;
    margin-top: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.it-employee .percent,
.it-contractor .percent {
    font-size: 24px;
    color: #03abba;
}

.it-employee .stage-name,
.it-contractor .stage-name {
    color: #a0a6a7;
    font-size: 13px;
    line-height: 18px;
}

.on-offshore {
    text-align: center;
}

.onshore {
    line-height: 18px;
    border-right: 1px dashed #ddd;
}

.onshore .percent-number {
    color: #75787b;
    font-size: 20px;
}

.onshore .stage-name {
    color: #a0a6a7;
    font-size: 12px;
}

.ux-score {
    text-align: center;
}

.ux-score .icon {
    margin-bottom: 20px;
}

.ux-score .percent-number {
    color: #9acb3b;
    font-size: 30px;
}

.ux-score .percent {
    font-size: 24px;
}

.digital-spend .percent-number{
    color: #03abba;
    font-size: 30px;
    margin-bottom: 30px;
}

.digital-spend .percent{
    color: #03abba;
    font-size: 24px;
}

.digital-spend-color {
    color: #03abba !important;
}

.run-color {
    color: #9acb3b !important;
}

.change-color {
    color: #03abba !important;
}

.transform-color {
    color: #8b69c8 !important;
}

.ux-score .stage-name {
    font-size: 13px;
    color: #a0a6a7;
}

.ux-direction {
    margin-top: 10px;
}

.ux-direction .upper,
.ux-direction .lower {
    width: 75px;
    color: #75787b;
    font-size: 20px;
    line-height: 17px;
    margin-left: auto;
    margin-right: auto;
}

.ux-direction .upper {
    margin-bottom: 0px;
}

.ux-direction .direction {
    width: 100%;
    display: block;
}

.ds-direction {
    margin-top: 32px;
}

/* Widget-CSS */

/* Modal Popup */

.modal-header {
    font-size: 16px;
    max-height: 42px;
    color: #fff;
    background: #29497b;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 0px;
}

.modal-title {
    display: flex;
    justify-content: center;
}

.modal-header .close {
    color: #fff;
    transition: all 0.2s ease;
    margin: -6px -10px 0px 0px;
    background-repeat: no-repeat;
    background-position: 5px -152px;
    background-color: transparent;
    background-image: url(/assets/images/popup-icons.png);
}

.modal-header .close:hover {
    background-position: 5px -126px;
}

.modal-header .close:fpcus {
    outline: none;
}

.close span {
    display: none;
}

.modal-content {
    border-radius: 0px;
    border: 0;
}

.card-header {
    padding: 0px;
    border: 0px;
}

.ind-reg-section .form-group {
    margin-bottom: 20px;
}

.ind-reg-section select {
    font-size: 14px;
    color: #75787b;
}

.ind-reg-section label {
    color: #03abba;
    font-size: 14px;
}

.ind-reg-section .btn-secondary {
    background: #fff;
    border-color: #dedede;
}

.ind-reg-section .btn-secondary:hover {
    background-color: #03abba;
    border-color: #03abba;
}

.ind-reg-section .btn-secondary.focus,
.ind-reg-section .btn-secondary:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #03abba;
    border-color: #03abba;
}

.model-subheading {
    color: #494c50;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: capitalize;
}

.collapse-expand {
    font-size: 14px;
    margin-bottom: 12px;
}

.collapse-expand a {
    color: #75787b;
    padding: 10px 24px;
    background-repeat: no-repeat;
    background-position: 0px 10px;
    background-color: transparent;
    background-image: url(/assets/images/popup-icons.png);
}

.collapse-expand a:hover {
    background-position: 0px -20px;
}

.overall-percent {
    text-align: right;
}

.overall-percent span {
    font-size: 16px;
    color: #494c50;
}

.card {
    border: 0px;
    margin-bottom: 5px;
}

.card-header .btn-link {
    width: 100%;
    color: #fff;
    padding: 8px 10px 8px 40px;
    font-size: 16px;
    text-align: left;
    border-radius: 0px;
    position: relative;
    text-transform: capitalize;
    background-repeat: no-repeat;
    background-position: 10px -88px;
    background-color: #03abba;
    background-image: url(/assets/images/popup-icons.png);
}

.card-header .btn-link:hover,
.card-header .btn-link:focus {
    text-decoration: none;
}

.card-header .btn-link span {
    right: 10px;
    font-size: 14px;
    position: absolute;
}

.card-header .btn-link span span.percent {
    right: auto;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.card-header button.collapsed {
    color: #494c50;
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 8px 10px 8px 40px;
    border: 1px solid #eaeaea;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: transparent;
    background-image: url(/assets/images/popup-icons.png);
}

.card-header button.collapsed:hover {
    color: #fff;
    text-decoration: none;
    background-position: 10px -19px;
    background-color: #03abba;
}

.card-header button.collapsed span span.percent {
    color: #75787b;
}

.card-header button.collapsed:hover span span.percent {
    color: #fff;
}

.card-header button.collapsed:focus {
    text-decoration: none;
}

.card .show .card-body {
    padding: 20px 5px;
    border: 1px solid #03abba;
}

.card-body .form-row>.col,
.form-row>[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

.form-compare {
    display: flex;
}

.form-compare .form-group {
    margin-bottom: 20px;
}

.form-compare:last-child .form-group {
    margin-bottom: 0px;
}

.form-compare label {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.form-compare input,
.form-compare select {
    font-size: 14px;
}

.compareform-btn {
    height: 70px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    border-top: 1px solid #eaeaea;
}

.compareform-btn .btn {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    background: #777b7c;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.compareform-btn .btn:hover {
    background: #29497b;
}

/* Modal Popup */

/* Global CSS */

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

.pl-0 {
    padding-left: 0px;
}

.main-content {
    margin-top: 30px;
}

/* Global CSS */

.custom-card{
    background: #f5fbfe;
    border: 1px solid #dddddd;
    border-radius:0.1rem;
}
.custom-card .card-body{
    padding:0.5rem 1rem;
    color:#a0a6a7;
    text-align: center;
}
.custom-card .card-body .card-body{
    padding:0.3rem 0rem;
    min-width: 270px;
}
.it-spend-costBreakdown-subpart{
    background-color: #e3f4fd;
    padding: 5px;
    width: 18.6%;
    margin-right: 10px;
}


.it-spend-exp-type {
    margin-top: -10px;
    margin-left: -10px;
}

/* Media Query CSS */

/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    header {
        max-height: none;
        padding-top: 8px;
        padding-bottom: 15px;
    }
    .filter-section .filter-btn {
        text-align: left;
    }
    .widget-box {
        display: block;
    }
    .it-companyrevenue {
        margin-bottom: 20px;
    }
    .widget-box-m .right-side {
        padding-left: 15px;
    }
    .it-spend-expenditure .right-side {
        padding-left: 0px;
        padding-right: 15px;
    }
    .card-header .btn-link span {
        display: none;
    }
    .compareform-btn .btn {
        font-size: 13px;
        margin-right: 0px;
    }
}


@media (max-width: 767.98px) {
    .filter-section {
        max-height: none;
    }
    .filter-section .filter-btn {
        text-align: left;
        margin-top: 15px;
    }
    .ind-reg-section .row>[class*=col-] {
        text-align: center;
    }
    .ind-reg-section .btn-group {
        margin-bottom: 10px;
    }
    .overall-percent {
        text-align: left;
        font-size: 13px;
        margin-top: 5px;
    }
    .form-compare .form-group {
        margin-bottom: 10px;
    }
    .form-compare:last-child .form-group {
        margin-bottom: 10px;
    }

    .w-35,.w-40, .w-60, .w-65, .w-30, .w-20, .w-33, .w-45, .w-55, .w-23, .w-52, .w-28{
        width: 100%;
    }
    .w-25{
        width: 100%!important;
    }
    .upper, .lower{
        text-align: left;
    }
    .it-spend-costBreakdown-subpart{
        width: 100%;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .filter-section .form-inline .form-group {
        margin-right: 10px;
    }
    .filter-section .filter-btn a:first-child {
        margin-right: 0px;
    }
}
/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-header button.collapsed {
        font-size: 13px;
    }
    .form-compare:last-child .form-group {
        margin-bottom: 20px;
    }
    .it-companyrevenue .circle-percent{
        font-size: 25px;
    }
    .cost-breakdown-md .sub-heading{
        font-size: 13px;
    }
    .circle-percent{
        margin-left: 10px;
    }
    .w-20{
        width: 40%;
    }
    .w-28{
        width: 60%;
    }
    .w-30, .w-33{
        width: 50%;
    }
    .w-60 .w-33{
        width: 33%;
    }
    .w-33{
        width: 100%;
    }
    .w-25{
        width: 50%!important;
    }
    .w-45, .w-55, .w-52{
        width: 100%;
    }

}
@media (min-width: 992px) and (max-width: 1024px) {
    .w-20{
        width: 33%;
    }
    .w-28{
        width: 67%;
    }
    .w-30{
        width: 66.63%;
    }
    .w-25{
        width: 33.33%!important;
    }
    .w-40, .w-60{
        width: 100%;
    }
    .w-35, .w-65{
        width: 100%;
    }
    .w-60 .w-33{
        width: 33%;
    }
    .w-33{
        width: 50%;
    }
    .w-45, .w-55, .w-52{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}

.displayDiv{
    display:none;
}

.it-revenue{
    color: #03abba;
    font-size: 36px;
    line-height: 25px;
    margin-bottom: 5px;
}

.circle-infrastructure{
    padding-left: 20px;
    margin-top: 25px;
}

.exp-background{
    background-color: #f5fbfe  ;
    text-align: center;
}

.it-personnel-percent{
    padding-top: 5px;
}

.mb-0{
    height: 94%;
}

.it-revenue-label{
    font-size: 28px;
}

.capex-donut-01{
    position: relative;
    top: -62px;
}

.enter-my-data-background{
    background-color: #D6EAF8;
}

.it-spend-align{
    padding-top: 5px;
    padding-bottom: 8px;
}
/* .upper-outsourced-label{
    margin-left: 23px;
} */

.upper-outsourced{
    background-position: 25px 5px !important;
}

.lower-outsourced{
    background-position: 25px -20px !important;
}

.it-run-grp {
    padding-top: 50px;
}

.it-personnel-div {
    margin-bottom: 10px;
}

.it-spend-company-revenue {
    padding-top: 5px;
    text-align: center;
    height: 160px;
}

.it-change-transform-div{
    padding-bottom: 10px;
}

i.arrow-down{
    color: grey;
    width:  0.5em;
    height:  0.7em;
    display:  inline-block;
    position:  relative;
    background:  currentColor;
    vertical-align: top;
}
i.arrow-down:after{
    border-right:  0.5em solid transparent;
    border-left:  0.5em solid transparent;
    border-top:  0.4em solid currentColor;
    position:  absolute;
    content:  "";
    bottom:  -0.3em;
    left: -5.8px;
}

.donutchart {
    position: absolute;
    top: 19px;
    left: 38px;
}

.donut-align{
    margin: auto !important;
}


.digital-spend-remain{
    margin-top: 28px;
}


.itPersonnel{
    padding-bottom: 2px;
}


.remained-perc-font{
    font-size: 16px !important;
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) {
    .capex-graph {
        padding-top: 0px !important;
    }

    .bottom-div {
        margin-bottom: 12px !important;
    }

}
@media only screen and (min-device-width:768px) and (max-device-width:991px) {
    .w-40{
        width: 100%;
    }
    .w-60{
        width: 100%;
    }
    .w-35{
        width: 100%;
    }
    .w-65{
        width: 100%;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .bottom-md-div {
        margin-bottom: 12px !important;
    }

    .upper-outsourced{
        background-position: 0px 5px !important;
    }

    .lower-outsourced{
        background-position: 0px -20px !important;
    }

    .upper-outsourced-label{
        margin-left: 0px !important;
    }

    .capex-graph {
        padding-top: 0px !important;
    }

    .cost-breakdown-md{
        padding-right: 0px !important;
    }

    .it-revenue-label{
        font-size: 22px !important;
    }

}
@media only screen and (min-device-width : 1200px) and (max-device-width : 1280px)  {
    .w-23{
        width: 25%;
    }
    .w-28{
        width: 30%;
    }
    .w-52{
        width: 50%;
    }
    .itPersonnel .card-body{
        padding: 0.5rem 0.1rem;
    }

    /* .it-employee {
        padding-left: 5px;
    }

    .it-contractor {
        padding-right: 5px;
    } */

  

}

.circle-backgrd
{
    width: 150px;
    height: 160px;
}

.svg-bkgrd 
{
    margin-top: 2rem;
}

.crg-width {
    width: 48px;
}

.col-label-sm-2{
    flex: 0 0 16.666667%;
    max-width: 20.666667%;
    margin-left: 19px;
}

.col-label-trail{
    flex: 0 0 16.666667%;
    max-width: 20.666667%;
    margin-left: 40px;
}

.col-label-testing{
    flex: 0 0 16.666667%;
    max-width: 15.666667%;
    margin-left: 67px;
}

.col-label-fully-impl{
    flex: 0 0 16.666667%;
    max-width: 20.666667%;
    margin-left: 48px;
}

.card-body .text-info .it-spend-per{
    margin-bottom: 10px;
}

.it-spend-per-mt{
    margin-top: 9px;
}

.ht-565{
    min-height: 498px;
}

.width-48{
    min-width: 48%;
}

.digital-cost-allocatn{
    min-width: 98%; 
}

.circle-percent-md{
    margin-left: 5px !important;
}

.form-row-techscale{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -220px;
}

.form-row-insights{
    display: flex;
    flex-wrap: wrap;
    margin-right: -2px;
    margin-left: -74px;
}
.form-row-digieco{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 19px;
}

@media (min-width:2560px) and (max-width:2738px){
    .ht-565{
        min-height: 487px !important;
    }

    .margin-right-0-2{
        margin-top: 35px !important;
        height: 255px !important;
        margin-right: 16.5rem !important;
        margin-left: -250px !important;
        margin-bottom: 10px !important;
    }

    .align-digital{
        margin-left: 75px !important;
    }
    
    .width-200{
            width: 300px !important;
            height: 170px !important;
    }

    .it-spend-company-revenue{
        margin-left: 75px !important;
        height: 160px !important;
    }

    .circle-percent-md {
        margin-left: 48px !important;
    }

    .cost-breakdown-md{
        height: 170px !important;
    }

    .cost-brkdwn{
        height: 120px !important;
        margin-right: 20px;
    }

    .mright{
        margin-right: 65px !important;
        width: 120px !important;
    }

    .circle-per-md{
        margin-left: 300px !important;
    }

    .comp-rev{
        padding-top: 32px !important;
    }

    .w-40{
        width: 25%;
    }

    .padding-top-2rem{
        margin-left: 20px;
    }

    .it-spend-padding{
        margin-left: 200px;
    }

    .it-spend-exp-svg{
        top: -29px;
        margin-left: 170px;
    }

    .padding-left-3rem{
        padding-left: 20rem !important;
    }

    .digi-emp-padding{
        padding-top: 1.5rem;
        margin-left: 200px;
    }

    .circle-percent{
        margin-left: 30px;
    }

    .mt-3{
        margin-top: 2.5rem !important;
    }

    .circle-infrastructure{
        margin-top: 2.5rem !important;
    }

    .digi-align{
        margin-top: 0.5rem !important;
        padding-left: 20px; 
    }

    .row-align{
        margin-right: -264px;
        margin-left: -1px;
    }

    .enter-my-data-background{
        padding-top: 0px !important;  
    }
}

.it-spend-padding{
    margin-top: 30px;
}

.digital-padding{
    margin-left: 122px !important;
}

.digi-emp-padding{
    padding-top: 0.5rem;
}

.width-20-5{
    min-height: 160px;
}

.m-right{
    margin-right: -50px; 
}

.m-top{
    margin-top: -17px
}

.w-70{
    width: 70px;
}

.m-left{
    margin-left: 25px;
}
.d-md-flex{
    padding-top: 15px;
}
.circle-per-md{
    margin-left: 65px; 
    padding-top: 3rem !important;
}

.digi-it-padding{
    padding-top: 1.1rem;  
}

.dash-ht{
    min-height: 146px;
    width: 25px !important;
    flex-basis: 0;
    max-width: 100%;
}

@media only screen and (min-width:2500px) and (max-width:2700px){
    
    #personnelspend, #Layer_2, .digital-services-svg , .digital-others-svg, #digital-soft-svg
    {
        width: 100%;
    }

    .itpersonnel-2500-2700
    {
        min-height: 495px !important; 
    }

    #digital-top-10
    {
        height: 300px;
        width: 1800px !important;
    }

    .margin-left-47-5
    {
        margin-left: 31%;
    }

    .width-108
    {
        width: 142%;
    }

    .margin-left-46
    {
        margin-left: 29%;
    }

    .width-110
    {
        width: 146%;
    }

    .margin-left-47
    {
        margin-left: 30%;
    }

    .width-109
    {
        width: 143%;
    }

    .margin-left-48
    {
        margin-left: 31%;
    }

    .width-107
    {
        width: 139%;
    }


}

@media only screen and (min-width:2701px) and (max-width:2900px){
    
    #personnelspend, #Layer_2, .digital-services-svg , .digital-others-svg, #digital-soft-svg
    {
        width: 100%;
    }

    .itpersonnel-2500-2700
    {
        min-height: 495px !important; 
    }

    #digital-top-10
    {
        height: 300px;
        width: 2100px !important;
    }   
    
    .margin-left-47-5
    {
        margin-left: 27%;
    }

    .width-108
    {
        width: 150%;
    }

    .margin-left-46
    {
        margin-left: 29%;
    }

    .width-110
    {
        width: 146%;
    }

    .margin-left-47
    {
        margin-left: 30%;
    }

    .width-109
    {
        width: 143%;
    }

    .margin-left-48
    {
        margin-left: 31%;
    }

    .width-107
    {
        width: 139%;
    }

}

.coestruebackground{
    background: #d6eaf8;
}

.coesfalsebackground{
    background: #f5fbfe;
}

.font-1-2-rem
{
    font-size: 1.2rem !important;
    margin-top: 0.3rem !important;
}